*{
	margin: 0;
	padding: 0;
}
body{
	max-width: 800px;
	margin: auto;
	margin-top: 20px;
    background: rgb(111, 162, 238);
    
}

#headshot {
    width: 100%;
    float: left;
    margin-right: 50px;
  }
  
  #headshot img {
    width: 100%;
    height: auto;
  }

  .details {
    font-style: italic;
    margin-bottom: 3px;
  }

.bac{
    background: dimgray;
}